@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import forms.CreateArticleForm
@import views.html.utils.errors.formGlobalErrors
@import views.html.utils.notifications
@import views.html.utils.components.card
@(form: Form[CreateArticleForm])(implicit loggedIn: User, request: RequestHeader, messages: Messages, assets: AssetsFinder)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@scripts = {
	<script src="@assets.path("lib/tinymce/tinymce.min.js")" type="text/javascript"></script>
	<script>
		tinymce.init({
			selector: '#@form("content").id',
			menubar: false,
			height: 500,
			plugins: 'image'
		});
	</script>
}

@admin.main('title -> messages("article.create.title"), 'scripts -> scripts) {
	@notifications()
	@formGlobalErrors(form)
	<div class="row">
		<div class="col-lg-auto col-md-12 mx-auto">
			@card('title -> messages("article.create.header")) {
				@helper.form(action = controllers.routes.ArticleController.save(), 'enctype -> "multipart/form-data") {
					<div class="col-sm-12">
						@helper.CSRF.formField
						@b4.text(form("title"), '_label -> "article.create.title.label")
           	 			@b4.text(form("recap"), '_label -> "article.create.recap.label")
						@b4.file(form("leadPhoto"), '_label -> "article.create.leadPhoto.label")
						@b4.textarea(form("content"), '_label -> "article.create.content.label")
					</div>

					<div class="col-6">
						<button class="btn btn-lg btn-info btn-block mt-3" onclick="articlePreview(this, '@routes.ArticleController.preview')">@messages("button.preview")</button>
					</div>

					<div class="col-6">
						<button type="submit" value="submit" class="btn btn-lg btn-primary btn-block mt-3">@messages("button.save")</button>
					</div>
				}
			}
		</div>
	</div>
}
