@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import forms.EditArticleForm
@import _root_.utils.FormHelper
@import views.html.utils.errors.formGlobalErrors
@import views.html.utils.notifications

@import views.html.utils.components.card
@import java.util.UUID
@import views.html.utils.components.tagsinput
@(id: UUID, form: Form[EditArticleForm], readonly: Boolean = false)(implicit loggedIn: User, request: RequestHeader, messages: Messages, assets: AssetsFinder)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@stylesheets = {
	<link rel="stylesheet" type="text/css" href="@assets.path("lib/github-com-Nodws-bootstrap4-tagsinput/tagsinput.css")">
}

@scripts = {
	<script src="@assets.path("lib/github-com-Nodws-bootstrap4-tagsinput/tagsinput.js")" type="text/javascript"></script>
	<script src="@assets.path("lib/tinymce/tinymce.min.js")" type="text/javascript"></script>
	<script>
			tinymce.init({
				selector: '#@form("content").id',
				menubar: false,
				height: 500,
				a11y_advanced_options: true,
				plugins: 'image, lists',
				toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | outdent indent | image'
			});
	</script>
}

@admin.main('title -> "article.edit.title", 'stylesheets -> stylesheets, 'scripts -> scripts) {
	@notifications()
	@formGlobalErrors(form)
	<div class="row">
		<div class="col-lg-auto col-md-12 mx-auto">
			@card('title -> "article.edit.header") {
				@helper.form(controllers.routes.ArticleController.update(id), 'enctype -> "multipart/form-data") {
					<div class="col-sm-12">
						@helper.CSRF.formField
						@b4.text(form("title"), '_label -> "article.create.title.label")
						@b4.text(form("recap"), '_label -> "article.create.recap.label")
						@b4.file(form("leadPhoto"), '_label -> "article.create.leadPhoto.label")
						@if(loggedIn.isModerator || loggedIn.isAdmin) {
							@b4.text(form("url"), '_label -> "article.create.url.label")
							@b4.select(form("state"), FormHelper.allArticleStates, '_label -> "article.create.state.label")
						}
						@b4.textarea(form("content"), '_label -> "article.create.content.label")
						@tagsinput(form("tags"), '_label -> "article.create.tags.label")
					</div>

					<div class="col-6">
						<button class="btn btn-lg btn-info btn-block mt-3" onclick="articlePreview(this, '@routes.ArticleController.previewById(id)')">@messages("button.preview")</button>
					</div>

					@if(!readonly) {
						<div class="col-6">
							<button type="submit" value="submit" class="btn btn-lg btn-primary btn-block mt-3">@messages("button.save")</button>
						</div>
					}
				}
			}
		</div>
	</div>
}
