/* Zawijanie nagłowka tabeli */
@media (max-width: 1024px) {
    .card .card-header strong {
        display: initial;
    }
}

/* Przycisk nagłówka tabeli */
.card > .card-header > .pull-right {
    margin-top: -3px;
    margin-bottom: -4px;
}

/* Input wyszukiwarki na liście */
div.dataTables_wrapper div.dataTables_filter input {
    max-width: 10em;
}
