@(article: Article)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(article.title) {
    <div class="row article">
        <div class="col-12 article-photo">
            <div class="img-fluid rounded-bottom rounded-top mb-1"  style="background-image: url(@routes.FileController.photo(article.leadPhoto));"></div>
        </div>
    </div>

    <div class="row article">
        <div class="col-12 article-content tinymce-content-body">
            @Html(article.content)
        </div>

        <div class="col-1"><i class="menu-icon fa fa-eye"></i> @article.views</div>

        <div class="col-11 article-tags">
            @article.tags.split(",").reverse.map { tag =>
                <a href="@routes.HomeController.index(f = tag)">#@tag</a>
            }
        </div>
    </div>
}
