@()(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main("landing.articles.list.header.latest") {
    <!-- TODO: Obsłużyć wyświetlanie prawdziwych artykułów. -->
    <div class="col-lg-4">
        <div class="article-item mx-auto mb-5 mb-lg-3">
            <a href="#content" class="text-dark nav-link">
                <h5>How does happiness works?</h5>

                <img class="img-fluid rounded-bottom rounded-top mb-1" src="@assets.path("images/testimonials-1.jpg")" alt="">

                <p class="font-weight-light mb-0">Simplest example would be...</p>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="article-item mx-auto mb-5 mb-lg-3">
            <a href="#" class="text-dark nav-link">
                <h5>How does happiness works?</h5>

                <img class="img-fluid rounded-bottom rounded-top mb-1" src="@assets.path("images/testimonials-1.jpg")" alt="">

                <p class="font-weight-light mb-0">Simplest example would be...</p>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="article-item mx-auto mb-5 mb-lg-3">
            <a href="#" class="text-dark nav-link">
                <h5>How does happiness works?</h5>

                <img class="img-fluid rounded-bottom rounded-top mb-1" src="@assets.path("images/testimonials-1.jpg")" alt="">

                <p class="font-weight-light mb-0">Simplest example would be...</p>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="article-item mx-auto mb-5 mb-lg-3">
            <a href="#" class="text-dark nav-link">
                <h5>How does happiness works?</h5>

                <img class="img-fluid rounded-bottom rounded-top mb-1" src="@assets.path("images/testimonials-1.jpg")" alt="">

                <p class="font-weight-light mb-0">Simplest example would be...</p>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="article-item mx-auto mb-5 mb-lg-3">
            <a href="#" class="text-dark nav-link">
                <h5>How does happiness works?</h5>

                <img class="img-fluid rounded-bottom rounded-top mb-1" src="@assets.path("images/testimonials-1.jpg")" alt="">

                <p class="font-weight-light mb-0">Simplest example would be...</p>
            </a>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="article-item mx-auto mb-5 mb-lg-3">
            <a href="#" class="text-dark nav-link">
                <h5>How does happiness works?</h5>

                <img class="img-fluid rounded-bottom rounded-top mb-1" src="@assets.path("images/testimonials-1.jpg")" alt="">

                <p class="font-weight-light mb-0">Simplest example would be...</p>
            </a>
        </div>
    </div>
}
