@(page: Page[Article], filter: String)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(s"landing.articles.list.header${if(filter.isEmpty)".latest" else ""}", 'filter -> filter) {

    <div class="row">
        @page.items.map { article =>
            <div class="col-lg-4">
                <div class="article-item mx-auto mb-5 mb-lg-3">
                    <a href="@routes.HomeController.details(article.url)#content" class="text-dark nav-link">
                        <h5>@article.title</h5>
                        <div class="img-fluid rounded-bottom rounded-top mb-1"  style="background-image: url(@routes.FileController.photo(article.leadPhoto));"></div>
                        <p class="font-weight-light mb-0">@article.content.take(32)...</p>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-2 mx-auto mt-3">
            @page.next.map { next =>
                <a href="@routes.HomeController.index(next, f = filter)#content">@messages("landing.articles.loadMore")</a>
            }.getOrElse {
                <p>@messages("landing.articles.noMore")</p>
            }
        </div>
    </div>
}
