@(page: Page[Article], orderBy: Int, filter: String)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@title = @{
    if(filter.isEmpty)
        orderBy match {
            case 0 => ".latest"
            case _ => ".popular"
        }
    else ""
}

@main(s"landing.articles.list.header$title", 'filter -> filter) {
    <div class="row">
        @page.items.map { article =>
            <div class="col-lg-4 col-md-6">
                <div class="article-item mx-auto mb-5 mb-lg-3">
                    <a href="@routes.HomeController.details(article.url)#content" class="text-dark nav-link">
                        <h5>@article.title</h5>
                        <div class="img-fluid rounded-bottom rounded-top mb-1"  style="background-image: url(@routes.FileController.photo(article.leadPhoto));"></div>
                        <p class="font-weight-light mb-0">@article.recap</p>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-11 mx-auto">
            @orderBy match {
                case 0 => {
                    <a href="/popular#content" class="float-right ordering-link">@messages("landing.articles.popular")</a>
                }
                case _ => {
                    <a href="@routes.HomeController.index(1, 0, f = filter)#content" class="float-right ordering-link">@messages("landing.articles.lastest")</a>
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12 mx-auto mt-3">
            @page.next.map { next =>
                <a href="@routes.HomeController.index(next, orderBy, f = filter)#content">@messages("landing.articles.loadMore")</a>
            }.getOrElse {
                <p>@messages("landing.articles.noMore")</p>
            }
        </div>
    </div>
}
