@import views.html.utils.notifications
@(title: String, args: (Symbol, Any)*)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

<!DOCTYPE html>
<html lang="@messages.lang.language">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@messages(args.toMap.getOrElse('title, "admin.main.title").toString)</title>

        <link rel="shortcut icon" href="@assets.path("images/favicon.png")">

        <link rel="stylesheet" type="text/css" href="@assets.path("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@assets.path("lib/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" type="text/css" href="@assets.path("lib/simple-line-icons/css/simple-line-icons.css")">
        <link rel="stylesheet" type="text/css" href="@assets.path("stylesheets/landing-page.css")">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        @args.toMap.get('stylesheets)
    </head>

    <body>
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 mx-auto">
                        @notifications()
                    </div>

                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">@messages("landing.header.message")</h1>
                        <h2 class="mb-5">@messages("landing.header.invitation")</h2>
                    </div>

                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form action="/#content" method="POST" class="form-vertical" role="form">
                            <div class="form-row">
                                @helper.CSRF.formField

                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input type="text" name="search" class="form-control form-control-lg" placeholder="@messages(s"landing.header.search.placeholder.${(Math.random * 10).toInt}")" value="@args.toMap.get('filter)">
                                </div>

                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">@messages("landing.header.search.button")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <section id="content" class="articles text-center bg-light">
            <div class="container">
                <h2 class="mb-5">@messages(title)</h2>

                @content
            </div>
        </section>


        <a id="back_to_top_button"></a>

        <section class="call-to-action text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h2 class="mb-4">@messages("landing.newsletter.message")</h2>
                    </div>

                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        @b4.form(routes.HomeController.newsletterSignUp()) {
                            <div class="form-row">
                                @helper.CSRF.formField

                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input type="email" name="newsletterEmail" class="form-control form-control-lg" placeholder="@messages("landing.newsletter.placeholder")">
                                </div>

                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">@messages("landing.newsletter.button")</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="#">@messages("landing.footer.about")</a>
                            </li>

                            <li class="list-inline-item">&sdot;</li>

                            <li class="list-inline-item">
                                <a href="#">@messages("landing.footer.contact")</a>
                            </li>

                            <li class="list-inline-item">&sdot;</li>

                            <li class="list-inline-item">
                                <a href="#">@messages("landing.footer.termsOfUse")</a>
                            </li>

                            <li class="list-inline-item">&sdot;</li>

                            <li class="list-inline-item">
                                <a href="#">@messages("landing.footer.PrivacyPolicy")</a>
                            </li>
                        </ul>

                        <p class="text-muted small mb-4 mb-lg-0">&copy; @messages("landing.footer.copyrights")</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="@assets.path("lib/jquery/jquery.min.js")"></script>
        <script src="@assets.path("lib/bootstrap/js/bootstrap.bundle.min.js")"></script>
        <script src="@assets.path("javascripts/landing-page.js")"></script>
        @args.toMap.get('scripts)
    </body>

</html>
